@model Post
@using Blog.Models

@{
}

<div>
    Edit
    @*<form asp-controller="Home" asp-action="Edit" action="/" method="post">
            <div>
                <label> Title </label>
                <input asp-for="Title" />
            </div>
            <div>
                <label> Body </label>
                <input asp-for="Body" />
            </div>
            <input type="submit" value="Submit" />
        </form>*@
</div>

@using (Html.BeginForm())
{
    @Html.Hidden("Id")
    <div>
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Body)
        @Html.EditorFor(m => m.Body)
    </div>
   
    <div>
        <input type="submit" value="Submit" />
    </div>
}